.header-container {
    height:800px;
    position:relative;
    background-image: url('https://i.postimg.cc/T2DyH6cC/Mask-Group-2.png');
    background-size: cover;
}
.header-container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    z-index: -50;
    right: 0;
    background-color: #3A4256;
}
/* headermain.js */
.appoimentBtn{
    background-image: linear-gradient(45deg, #18D3B2, #10CFE8);
    border: none;
}
.appoimentBtn:focus{
    outline: none;
    border: none;
}